/*- Custom style -*/

// -- Put custom style under this point -- //

#title {
  text-align: center;
  margin: 100px 0px 0px 0px;
}
#title-menu {
  text-align: center;
}
#title-menu a{
  color: rgba(0,0,0,0.6);
}
#title-icon {

}
#title-paragraph {
  width:70%;
  margin:auto;
  text-align: center;
}
//remove this when I have some pages ready to display


.cv-header {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  clear: both;
}

.cv-sidebar {
  float: left;
  height: 100px;
  width: 25%;
}

.cv-content {
  width: 80%;
  margin-bottom: 18px;
  float: left;
  line-height: 28px;
  //background-color: #F5CF8E;   /* Yellow */
}

.cv-dates {
  text-align: center;
  width: 19%;
  margin-bottom: 18px;
  margin-left: 1%;
  float: left;
  //background-color: #D6E9FE;    /* Light blue */
}
.cv-section {
    width: 100%;
    margin: 0 auto;
}
