---
# Only the main Sass file needs front matter (the dashes are enough)
---

.mapcontainer { 
    @apply container mx-auto; 
}

.featurecontainer { 
    @apply mt-4;
    width: 100%;
}

#features { 
    overflow: scroll;
}

#map { 
    @apply rounded; height: 350px; width: 100%;
}

#map canvas {
    cursor: crosshair;
}

.cards {
    max-width: 300px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    margin-bottom: 10px;
  }

@import

    "skins/{{ site.text_skin | default: site.data.variables.default.text_skin }}",
    // "skins/chocolate",
    // "skins/dark",
    // "skins/default",
    // "skins/forest",
    // "skins/ocean",
    // "skins/orange",

    "skins/highlight/{{ site.highlight_theme | default: site.data.variables.default.highlight_theme }}",
    // "skins/highlight/tomorrow",
    // "skins/highlight/tomorrow-night",
    // "skins/highlight/tomorrow-night-eighties",
    // "skins/highlight/tomorrow-night-blue",
    // "skins/highlight/tomorrow-night-bright",


    "common/variables",
    "common/function",
    "common/classes",
    "common/reset",
    "common/print",
    "common/components/button",
    "common/components/image",
    "common/components/card",
    "common/components/gallery",
    "common/components/hero",
    "common/components/menu",
    "common/components/modal",
    "common/components/toc",
    "common/components/item",
    "common/components/swiper",

    "animate/fade-in",
    "animate/fade-in-down",
    "animate/fade-in-up",

    "components/main",
    "components/header",
    "components/footer",
    "components/article-list",
    "components/article-info",
    "components/article-header",
    "components/article-content",
    "components/article-footer",
    "components/author-links",
    "components/author-profile",
    "components/tags",
    "components/search",
    "components/lightbox",
    "components/extensions",


    "additional/alert",
    "additional/tag",
    "additional/photo-frame",

    "layout/base",
    "layout/page",

    "layout/article",
    "layout/articles",
    "layout/archive",
    "layout/home",
    "layout/landing",
    "layout/404",

    "custom"
;

span.count-num {
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
span.num {
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
span.text {
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }

.map-container {
    margin: 25px 0px 25px;
  }