///
// Skin: Default
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1: #bf616a;
$text-color-1: #fff;

$main-color-2: #d08770;
$text-color-2: #fff;

$main-color-3: #f2f2f2;
$text-color-3: #434c5e;

$main-color-theme-light: #434c5e;
$main-color-theme-dark: rgba(#fff, 0.9);

// page background
$background-color: #fff;

// text colors
$text-color-theme-light-d: #434c5e;
$text-color-theme-light: #4c566a;
$text-color-theme-light-l: #d8dee9;

$text-color-theme-dark-d: #fff;
$text-color-theme-dark: #e5e9f0;
$text-color-theme-dark-l: #eceff4;

$text-color-d: $text-color-theme-light-d;
$text-color: $text-color-theme-light;
$text-color-l: $text-color-theme-light-l;

$text-background-color: #d8dee9;

// header and footer colors
$header-text-color: $text-color-3;
$header-background: $main-color-3;

$footer-text-color: $text-color-3;
$footer-background: $main-color-3;

// border and shadow colors
$border-color: mix(#000, $background-color, 20%);
$border-color-l: mix(#000, $background-color, 10%);
$decorate-color: rgba(#2e3440, 0.1);
$mask-color: rgba(#2e3440, 0.9);
$select-color: rgba($main-color-1, 0.5);

// function colors
$green: #a3be8c;
$blue: #5e81ac;
$yellow: #ebcb8b;
$red: #bf616a;
$text-color-function: #fff;

// logo colors
$mail-color: #88c0d0;
$facebook-color: #4267b2;
$twitter-color: #1da1f2;
$weibo-color: #e6162d;
$google-plus-color: #ea4335;
$telegram-color: #32afed;
$medium-color: #000;
$zhihu-color: #0084ff;
$douban-color: #42bd56;
$linkedin-color: #1074af;
$github-color: #2e3440;
$npm-color: #fff;

// highlight colors
@import 'skins/highlight/tomorrow';
